.footer-container {
  margin: 30px 250px 0 250px;
}
.logo-footer a{
  color: #888888;
  font-size: 25px;
  font-weight: 700;
}
.middle-footer h5 {
  color: #d35266;
  font-size: 18px;
  font-weight: 700;
}
.middleish h5 {
  color: #d35266;
  font-size: 18px;
  font-weight: 700;
}
.right-footer h6 {
  color: #d35266;
  font-weight: 700;
}
.footer-links a{
    color: #888888;
    font-size: 15px;
    text-decoration: none;
}
.select {
  width: 150px;
  height: 30px;
  border: 1px solid #888888;
  margin-left: 30px;
}
.bottom-footer{
  background-color: #f6f6f6;
  padding-top: 20px;
}
.copyright{
  font-size: 15px;
  color: #888888;
  margin-left: 100px;
}
.social-icons{
  margin-right: 100px;
  font-size: 25px;
  padding-bottom: 5px;
}