@media (max-width: 1024px){
    .right-nav{
        display: none;
    }
    .copyright{
        font-size: 12px;
        margin: 0 auto;
    }
    .social-icons{
        margin: 0 auto;
        font-size: 20px;
        padding-bottom: 25px
    }
    .box{
        border: none;
    }
    .checkbox-section{
        display: none;
    }
}