@media (max-width: 767px) {
  .right-nav {
    display: none;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .search-heading h2 {
    align-items: flex-start;
  }
  .search-select,
  .search-input,
  .search-input2 {
    margin-bottom: 3px;
    width: 350px;
    height: 35px;
  }
  .search-input2 {
    margin-left: 10px;
  }
  .search-button {
    width: 350px;
    font-size: 16px;
    text-align: center;
  }
  .ads-section {
    width: 80%;
    margin: 0 auto;
  }
  .purchase {
    margin-bottom: 20px;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .product-image {
    margin-bottom: 20px;
  }
  .middle {
    width: 100%;
    margin: auto;
  }
  .bottom-footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .copyright p {
    padding-left: 3px;
    font-size: 9px;
  }
  .country-select {
    width: 70%;
  }
  .checkbox-section {
    display: none;
  }
  .box {
    border: none;
  }
  .result-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .description p {
    padding-left: 5px;
  }
}
