.result-section {
  background-color: #f6f6f6;
  hr {
    margin: 0 0 10px 250px;
  }
}
.result-container{
    // width: 100%;
    border: 1px solid #888888;
    // margin: 0 auto;
}
.title {
  font-size: 15px;
  margin: 0 250px 10px 250px;
}
