.result-section {
  background-color: #f6f6f6;
  font-family: "Nimbus", sans-serif;
}
.cont-res {
  display: flex;
  justify-content: space-around;
}
.result-container {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 18px;
  font-family: "Nimbus", sans-serif;
}
.result-image {
  width: 262px;
  height: 262px;
}
.box {
  width: 60%;
  border-right: 1px solid #888888;
  border-left: 1px solid #888888;
  margin-right: 20px;
}
.result-wrapper {
  margin-left: 15px;
}
.result-display {
  padding-left: 10px;
}
.date {
  font-family: "Pragmatica", sans-serif;
}
.pagination {
  border-top: 1px solid #888;
}
.page1 {
  width: 35px;
  height: 35px;
  border: 1px solid #888888;
  margin-right: 15px;
  background-color: white;
  border-radius: 3px;
  font-weight: 500;
  padding: 7px;
}
.page2 {
  width: 35px;
  height: 35px;
  border: 1px solid #f6f6f6;
  margin-right: 15px;
  background-color: #d35266;
  color: white;
  border-radius: 3px;
  padding: 7px;
}
.page3 {
  margin-right: 15px;
}

// CHECKBOX SECTION
.checkbox-section {
  border-left: 1px solid #383838;
  font-size: 15px;
  margin-left: 200px;
  padding: 30px;
  font-size: 15px;
}
