@import url(reset.css);
body {
  position: relative;
  width: 100%;
  height: auto;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  min-width: 350px;
}

.nav {
  padding: 10px;
  margin: 0 auto;
  background: #383838;
  border-bottom: 2px solid #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #888888;
}

.logo-heading {
  font-size: 20px;
}

.logo {
  width: 41px;
  height: 40px;
  border-radius: 50%;
  background-color: #d35266;
  color: #d35266;
}

.left-nav {
  margin-left: 250px;
}

.right-nav {
  margin-right: 200px;
}

.profile {
  width: 41px;
  height: 43px;
  border-radius: 50%;
}

.iconify {
  color: white;
  font-size: 15px;
  padding-top: 2px;
}

.nav-links {
  padding-top: 6px;
}

.home {
  color: #d35266;
}

.text {
  color: white;
  font-size: 15px;
}

.post {
  background-color: #d35266;
  color: white;
}

.mail {
  position: relative;
  color: white;
  font-size: 25px;
}

.mail-num {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 3px;
  width: 1.3rem;
  height: 1.3rem;
  color: white;
  background-color: #d35266;
  font-size: 15px;
}

.search-section {
  background-color: #d35266;
  border-bottom: 2px solid #d35266;
}

.search-container {
  margin: 0px 250px 50px 250px;
}

.search-container h2 {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 350px;
  padding-top: 40px;
}

.search-container p {
  color: white;
  font-size: 15px;
  margin-left: 250px;
}

.search-select {
  width: 245px;
  height: 45px;
}

.search-input {
  width: 245px;
  height: 45px;
}

.search-input2 {
  width: 245px;
  height: 45px;
}

.search-button {
  background-color: #383838;
  font-size: 20px;
  color: white;
}

.ads-container {
  margin: 0 250px 50px 250px;
}

.shoes {
  width: 270px;
  height: 280px;
}

.description h4 {
  color: #d35266;
  font-size: 20px;
  margin-top: 20px;
}

.description p {
  font-size: 15px;
  color: #888888;
}

.p {
  font-weight: 700;
}

.author {
  color: #888888;
}

.iconify {
  font-size: 20px;
  color: white;
  padding-top: 8px;
}

.money {
  width: 150px;
  height: 85px;
  border: 1px solid #d35266;
  color: white;
  background-color: #d35266;
  font-size: 15px;
  border-radius: 3px;
}

.item {
  width: 195px;
  height: 85px;
  border: 1px solid #d35266;
  background-color: #d35266;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}

.product-section {
  background-color: #f6f6f6;
}

.product-section hr {
  margin: 20px 250px 50px 250px;
}

.heading-container {
  margin: 0 250px 0 250px;
}

.heading-container h4 {
  font-size: 23px;
  font-weight: 700;
  padding-top: 10px;
}

.heading-container p {
  font-size: 19px;
  color: #888888;
  padding-top: 10px;
}

.icon {
  font-size: 35px;
  color: #383838;
}

.product-wrapper {
  margin: 0 250px 0 250px;
}

.footer-container {
  margin: 30px 250px 0 250px;
}

.middle-footer h5 {
  color: #d35266;
  font-size: 18px;
  font-weight: 700;
}

.middleish h5 {
  color: #d35266;
  font-size: 18px;
  font-weight: 700;
}

.right-footer h6 {
  color: #d35266;
  font-weight: 700;
}

.footer-links a {
  color: #888888;
  font-size: 15px;
  text-decoration: none;
}

.select {
  width: 150px;
  height: 30px;
  border: 1px solid #888888;
  margin-left: 30px;
}
/*# sourceMappingURL=main.css.map */